* {
  list-style: none;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

/* HEADER NAVBAR */

header{
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(72, 160, 243);
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
  }
  .logo1{
      float: left;
      margin-left: 20px;
    }

  nav{
    width: 100%;
    background-color: rgb(72, 160, 243);
  }
  header ul{
    overflow: hidden;
    text-align: center;
    transition: 1s;
    margin-top: 10px;
  }
  /* header.black ul{
    background: black;
  } */
  
  header ul li a{
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
 



  header ul {
    font-size: 20px;
    margin: auto;
  }
  header ul li {
    display: inline-block;
    margin: 35px;
  }
  
  #menu_btn:active {
    color: rgb(248, 234, 30);
  }
  #menu_btn:visited {
    color: rgb(248, 234, 30);
  }


  /* NEWS SECTION */

  .blog-section{
    width: 100%;
    padding-top: 100px;
    
  }
  .blog-section .section-content{
    width: 85%;
    margin: 20px auto;
  }
  
  .blog-section .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .blog-section .section-content .title h2{
    font-size: 40px;
    text-transform: uppercase;
  }

  .blog-section .section-content .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 50px auto;
  }

  .blog-section .section-content .cards .card{
   width: 400px;
   background-color: #f7f7f7;
   margin: auto;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .blog-section .section-content .cards .card img{
   width: 400px;
   height: 300px;

  }
  .blog-section .section-content .cards .card .article{
    padding: 15px 20px;
    
  }
  .blog-section .section-content .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;
    margin-top: -5px;
    text-align: center;
  }
  .blog-section .section-content .cards .card .blog-view{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .blog-section .section-content .cards .card .article p{
    font-size: 16px;
    margin: -10px 0px 10px;
    color: #6a6a6a;
  }
  .blog-section .section-content .cards .card a{
    text-decoration: none;
    background-color: rgb(72, 160, 243);
    padding: 8px 15px;
    color: #fff;
    margin-left: 20px;
  }
  .blog-section .section-content .cards .card .posted-date{
    font-weight: 600;
    /* position: sticky; */
    font-size: small;
    margin-left: 200px;
    display: inline-block;
    align-content: flex-start;
    background-color: rgb(72, 160, 243);
    padding: 1px 10px;
    color: #fff;
  }

  footer {
    display: flex;
  /* background-color: rgb(248, 234, 30); */
  background-color: rgb(72, 160, 243);
  width: 100%;
  text-align: center;
  }
  .logo2 {
    margin-left: 20px;
  }
  footer ul li a {
    color: rgb(248, 234, 30);
    letter-spacing: 1px;
  }
  footer ul li {
    font-size: 24px;
    margin-top: 90px;
    display: inline-block;
    margin-left: 20px;
  }

  @media screen and (max-width: 992px) {
    .blog-section .section-content .cards{
      
      grid-template-columns: repeat(2, 1fr);
     
    }

  }
  @media screen and (max-width: 768px) {
    .blog-section .section-content .cards{
      
      grid-template-columns: 1fr;
     
    }
  }
